<div id="login-box">
    <div class="items">
      <h1>Log In</h1>
              <form action="/login" method="post"> {% csrf_token %}
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />      
      <input type="submit" name="signup_submit" value="Log In" />
      {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
    </div>   
  </div>